.btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease;

  &--xsmall {
    padding: 8px 0;
  }

  &--small {
    padding: 8px 16px;
  }

  &--medium {
    padding: 16px 16px;
    font-weight: 500;
  }

  &--large {
    padding: 15.5px 64px;
  }

  &--weight-regular {
    font-weight: 400;
  }

  &--weight-medium {
    font-weight: 500;
  }

  &--weight-bold {
    font-weight: 700;
  }

  &--font-small {
    font-size: 14px;
  }

  &--font-medium {
    font-size: 16px;
  }

  &--font-large {
    font-size: 21px;
  }

  &--full-width {
    width: 100%;
  }

  &--icon-left {
    flex-direction: row-reverse;
  }

  &__icon {
    width: 20px;
    height: 20px;

    &--hoverable {
      .btn:hover & {
        content: var(--hover-icon);
      }
    }
  }

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    transition: stroke 0.2s ease;
  }

  &--primary {
    color: var(--btn-primary-text);
    background: var(--btn-primary-bg);

    &:hover {
      background: var(--btn-primary-hover);
    }

    &:active {
      background: var(--btn-primary-active);
    }
  }

  &--secondary {
    color: var(--btn-secondary-text);
    background: var(--btn-secondary-bg);

    &:hover {
      background: var(--btn-secondary-hover);
    }

    &:active {
      background: var(--btn-secondary-active);
    }
  }

  &--outline {
    color: var(--btn-outline-text);
    background: transparent;
    border: 1px solid var(--btn-outline-border);

    &:hover {
      color: var(--btn-outline-hover-text);
      border-color: var(--btn-outline-hover-border);
    }

    &:active {
      color: var(--btn-outline-active-text);
      border-color: var(--btn-outline-active-border);
    }
  }

  &--text {
    flex-direction: row-reverse;
    color: var(--btn-text-color);
    background: transparent;
    border: none;

    &:hover {
      color: var(--btn-text-hover);
    }

    &:active {
      color: var(--btn-text-active);
    }
  }
}
