<div class="layout">
  <aside class="sidebar">
    <app-sidebar />
  </aside>

  <div class="layout__content">
    <header class="header">
      <app-header />
    </header>

    <main class="main">
      @if (isLoading()) {
        <app-loader />
      } @else {
        <router-outlet />
      }
    </main>
  </div>
</div>

<app-modal
  [isOpen]="modalService.isOpen()"
  [isClosing]="modalService.isClosing()"
  [hostElement]="modalService.hostElement()"
  (backdropClicked)="modalService.close()"
/>
