.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  flex-shrink: 0;
  width: 232px;
}

.layout__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--main-bg-color);
}

// === RESPONSIVE ab 1024px ===
@media (width <= 1025px) {
  .layout {
    flex-direction: column;
  }

  // Sidebar-Platzhalter oben entfernen
  .sidebar {
    width: 100%;
  }

  // Platz unten lassen für die fixierte Bottom-Navigation
  .main {
    padding-bottom: 80px;
  }
}
