.header-nav {
    width: 100%;
    max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.brand__logo {
  width: 100px;
  height: 120px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-actions__text {
  color: #333;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}