.help {
  padding: 40px;
  font-family: var(--font-family-main);
  color: #000;

  &__title-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    font-size: var(--font-size-xxl);
  }

  &__highlight {
    color: #124658;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: var(--font-size-m);
  }

  p {
    margin-bottom: 12px;
    line-height: 1.5;
  }

  &__steps {
    padding-left: 24px;
    margin: 16px 0;

    li {
      margin-bottom: 16px;
    }
  }

  &__step-title {
    font-weight: 700;
  }
}
