.app.dark {
  --bg-color: #2c3e50;
  --inverted-bg-color: #34495e;
  --text-color: #ecf0f1;
  --primary-color: #3498db;
  --inverted-primary-color: #2980b9;
  --secondary-color: #2ecc71;
  --inverted-secondary-color: #27ae60;
}
