.contacts-page {
  --c-list-width: 456px;
  --c-avatar-border-color: var(--inverted-bg-color);
  --c-list-bg: var(--inverted-bg-color);
  --c-separator: rgb(136 133 133 / 10%);
  --c-item-hover: #f7f7f7;
  --c-item-active-bg: var(--bg-color);
  --c-item-active-txt: #fff;
  --c-avatar-border: rgb(255 255 255 / 35%);
  --c-accent: var(--primary-color);
  --c-accent-hover: var(--primary-color);
  --c-title-divider: var(--primary-color);
  --c-detail-pad: 110px 55px;
}
