// Global CSS variables for font sizes and families
:root {
  --font-family-main: Inter, sans-serif;

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-sm: 20px;
  --font-size-m: 27px;

  --font-size-l: 32px;
  --font-size-xl: 47px;
  --font-size-xxl: 61px;

  // Header
  --header-height: 50px;
  --header-padding: 10px 20px;
  --header-width: 100%;

  // Sidebar
  --sidebar-width: 300px;

  // Dropdown
  --dropdown-width: 150px;
  --dropdown-height: 158px;
}
