.board-page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  padding: 80px 64px;
  background: #f6f7f8;

  &__header {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 61px;
    font-weight: 700;
    color: #2a3647;
  }

  &__actions {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__columns {
    display: flex;
    flex: 1;
    gap: 24px;
    justify-content: space-between;
    overflow-x: auto;
  }

  &__add-task-btn .btn__icon {
    width: 32px;
    height: 32px;
  }
}
